@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    direction: rtl;
  }

  body {
    @apply bg-stone-50 text-stone-800 antialiased;
  }

  ::selection {
    @apply bg-primary-200 text-primary-900;
  }
}

@layer components {
  .container-page {
    @apply max-w-7xl mx-auto px-4 sm:px-6 py-8;
  }
}
